@import "element_plus.scss";

:root {
  // 颜色
  --color-primary: #409eff;

  // 文字
  --font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;

  // 文字大小
  --font-size: 14px;
  --font-size-small: 12px;
  --font-size-big: 16px;

  // 文字颜色
  --font-color: #303133;
  --font-color-light: #909399;
  --font-color-dark: #000103;

  // 边框颜色
  --border-color: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-dark: #d4d7de;

  // 填充颜色
  --fill-color: #f0f2f5;
  --fill-color-light: #f5f7fa;
  --fill-color-dark: #ebedf0;

  // 遮罩
  --shadow-color: rgba(0, 0, 0, 0.8);
  --shadow-color-light: rgba(0, 0, 0, 0.4);
  --shadow-color-dark: rgba(0, 0, 0, 0.8);

  // 圆角
  --border-radius: 4px;
  --border-radius-small: 2px;
  --border-radius-big: 8px;
  --border-radius-round: 20px;
  --border-radius-circle: 100%;

  // 阴影
  --box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0px 0px 16px rgba(0, 0, 0, 0.08);
  --box-shadow-dark: 0px 0px 16px rgba(0, 0, 0, 0.16);

  // 透明度
  --opacity: 0.7;
}

html {
  margin: 0px;
  padding: 0px;
  body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 150%;
    color: var(font-color);
    a {
      color: var(--color-primary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        opacity: var(--opacity);
      }
    }
  }
}

.form-message {
  color: var(--font-color-light);
  font-size: var(--font-size-small);
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
