//亮色
:root:root {
  --el-color-primary: #409eff;

  //菜单
  --el-menu-bg-color: #0021a5;
  --el-menu-hover-bg-color: #409eff;
}

//暗黑
.dark:root:root {
  //菜单
  --el-menu-bg-color: #141414;
  --el-menu-hover-bg-color: #409eff;
}
